@page "{restaurantId:int?}"
@model OdeTOFood.Pages.Restaurant.EditModel
@{
}
<h1>Under Edit </h1>
<form method="post">
    <input type="hidden" asp-for="Restaurant.Id"/>
    <div class="form-group">
        <label asp-for="Restaurant.Name"></label>
        <input asp-for="Restaurant.Name" class="form-control"/>
    </div>
    <div class="form-group">
        <label asp-for="Restaurant.Location"></label>
        <input asp-for="Restaurant.Location" class="form-control"/>
    </div>
    <div class="form-group">
        <label asp-for="Restaurant.CusineType"></label>
        <select asp-for="Restaurant.CusineType" class="form-control" asp-items="Model.CusineItems"></select>
    </div>
    <input type="submit"/>
</form>